<?xml version="1.0"?>
<robot name="chiny" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Properties -->
  <xacro:property name="namespace" value="chiny" />
  <xacro:property name="mesh_file" value="package://desktopquad_sim/agents/chiny/chinywhoop.dae" />
  <xacro:property name="mass" value="2.856" />
  <xacro:property name="body_width" value="0.085" />
  <xacro:property name="body_height" value="0.01" />
  <xacro:property name="body_inertia">
    <inertia ixx="0.07" ixy="0.0" ixz="0.0" iyy="0.08" iyz="0.0" izz="0.12" />
  </xacro:property>


  <!-- *********************** GAZEBO ROBOT DEFINITION ******************* -->
  <link name="${namespace}/base_link">
    <inertial>
      <mass value="${mass}" />  <!-- [kg] -->
      <origin xyz="0 0 0" />
      <xacro:insert_block name="body_inertia" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_file}" scale="1 1 1" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.005" rpy="0 0 0" />
      <geometry>
        <box size="${body_width} ${body_width} ${body_height}" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="${namespace}/base_link">
    <material>Gazebo/$(arg color)</material>
  </gazebo>

  <!-- ROSflight SIL Plugin -->
  <xacro:include filename="$(find rosflight_sim)/xacro/rosflight_sil.xacro"/>
  <xacro:generic_multirotor namespace="${namespace}" parent_link="${namespace}/base_link"/>

  <!-- Fixed Camera -->
  <xacro:include filename="$(find magicc_sim_plugins)/xacro/camera.xacro"/>
  <xacro:simple_camera
    namespace="${namespace}"
    frame_rate="30"
    rgb_range="1000"
    parent_link="${namespace}/base_link"
    image_topic="rgb"
    image_camera_info_topic="camera_info">
    <origin xyz="0 0 0.002" rpy="0 -1.5707 1.5707"/>
  </xacro:simple_camera>

</robot>