<?xml version="1.0"?>

<model>
  <name>aruco_mip_36h12_markermap</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Parker Lusk</name>
    <email>parkerclusk@gmail.com</email>
  </author>

  <description>
    ArUco Mixed Integer Programming (MIP) 36h12 Marker Map (7x5).
    Generated with `aruco_create_markermap 5:7 out.png out.yml -r 50`.
  </description>
</model>
